name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # ou troque pelo branch padrão do seu projeto

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checar código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências (ignorar conflitos de peer)
        run: npm install --legacy-peer-deps

      - name: Build do Projeto
        run: npm run build

      - name: Deploy no GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
    
